body::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

body::-webkit-scrollbar-button {
    
    /* Always keep a margin for the buttons */
    width: 100%;
}


body::-webkit-scrollbar-track {
    background: transparent;
}

body.scrollbar-hover::-webkit-scrollbar-track {
    background: #555;
}


body::-webkit-scrollbar-thumb {
    /* 
     * This background gradient simulates a scrollbar thumb with 40% width. 
     * It uses the color #777 that is also used by Microsoft for Windows 10 designs.
     *
     * Permalink - use to edit and share this gradient: 
     * https://colorzilla.com/gradient-editor/#777777+55,777777+96&0+55,1+56,1+95,0.01+96,0+96
     */
    background: -webkit-linear-gradient(left,  rgba(119,119,119,0) 55%,rgba(119,119,119,1) 56%,rgba(119,119,119,1) 95%,rgba(119,119,119,0) 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(119,119,119,0) 55%,rgba(119,119,119,1) 56%,rgba(119,119,119,1) 95%,rgba(119,119,119,0) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body.scrollbar-hover::-webkit-scrollbar-thumb {
    background: #777;
}


body.scrollbar-hover::-webkit-scrollbar-button:vertical:start:decrement {
    background:
        linear-gradient(120deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(  0deg, #555 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

body.scrollbar-hover::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient( 60deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #555 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

body.scrollbar-hover::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient( 90deg, #555 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

body.scrollbar-hover::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient( 30deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #555 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #555 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

body.scrollbar-hover::-webkit-scrollbar-button:vertical:start:decrement:hover {
    background:
        linear-gradient(120deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(  0deg, #666 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

body.scrollbar-hover::-webkit-scrollbar-button:vertical:end:increment:hover {
    background:
        linear-gradient(300deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient( 60deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #666 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

body.scrollbar-hover::-webkit-scrollbar-button:horizontal:end:increment:hover {
    background:
        linear-gradient(210deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient( 90deg, #666 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

body.scrollbar-hover::-webkit-scrollbar-button:horizontal:start:decrement:hover {
    background:
        linear-gradient( 30deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #666 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #666 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}