body.dark {
    background: #333;
}

body.light {
    background: #d8d8d8;
}

.dark #content {
    background: #aaa;
}

.light #content {
    background: #efefef;
}

#content {
    height: 200vh;
    width:   70vw;
    margin: 1.6em auto;
    padding:  5em;
}